<div id="wrapper">
  <div id="todo-list">
    <div id="list">
      <h2>ToDoItem List</h2>
      <ul>
        <li *ngFor="let todo of toDoItems | async">
          {{ todo.name }}
        </li>
      </ul>
    </div>
  </div>

  <form (ngSubmit)="addItem()">
    <input type="text" [(ngModel)]="newToItem.name" placeholder="Item" name="itemName" />
    <button type="submit">+</button>
  </form>
</div>

<div *ngFor="let pass of savepasslist | async">
  <p>{{pass.website_name}}</p>
  <p>{{pass.user_name}}</p>
  <p>{{ pass.user_password }}</p>
</div>
